= flash[:success]
%row
  %br
  .info-box
    %h1
      = @venue.name |
      
    %h3
      = @venue.address.street_address
      = @venue.address.city
      = @venue.address.state
      = @venue.address.postal_code
