= flash[:success]
%br
.row
  .col-lg-3
    #gravatar
      = gravatar_for @band 

  .col-lg-9
    .info-box
      %h1
        = @band.name
      %br
      %small
        = @band.contact_email
      |
      %small
        = @band.location




