.header
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        = link_to "GigBooker", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Bands", bands_path
          %li= link_to "Venues", venues_path
          %li= link_to "FAQ"
          %li= link_to "About"